* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80px); /* Учитываем высоту хедера */
    padding: 20px;
    overflow: hidden;
}

#menu {
    flex: 1 0 25%;
    height: 100%;
    overflow: hidden;
    border: 1px solid black;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}


.main-container {
    flex: 2 0 50%;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#listContainer {
    flex-grow: 1;
    overflow-y: auto;
}

#stats {
    flex: 1 0 25%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.widgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#colorStats, #manaStats {
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}

button:active {
    transform: translateY(0);
    background-color: #004085;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#searchButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#searchButton:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

#searchButton:active {
    transform: translateY(0);
    background-color: #1e7e34;
}

#listContainer ul {
    list-style-type: none;
    padding: 0;
}

#listContainer li {
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

#listContainer li:hover {
    background-color: #e9ecef;
    transform: translateY(-3px);
}

#listContainer li:active {
    transform: translateY(0);
    background-color: #dee2e6;
}

#cardDetails {
    display: flex;
    align-items: flex-start;
}

.card-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.placeholder-large {
    width: 200px;
    height: 278.02px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    color: #777;
    margin-right: 20px;
}

.card-image, .placeholder-large {
    flex-shrink: 0;
}

.card-description {
    display: flex;
    flex-direction: column;
}

.deck-container {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 310px;
    overflow-x: auto;
    flex-wrap: nowrap;
}

#deckCards {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    overflow-x: auto; /* Добавляет горизонтальную прокрутку, если нужно */
    padding: 10px; /* Паддинг для эстетики */
}

.deck-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    min-width: 100px;
    max-width: 100px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
    position: relative;
}

.deck-card-image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.placeholder-small {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    color: #777;
    margin: 10px;
    display: flex;
    text-align: center;
}

#cardsContainer {
    height: 100%;
    overflow: hidden;
}